@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:700");
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

.error{
		color: rgb(255,0,0);
}

.LoginDec{
	text-decoration: none;
	color: #fff;
	margin-left: 120px;
	background: #497FAF;
}

.MainContent{
	background:url(back.jpg);
	text-align: center;
	margin: 0;
	padding: 0; 	
}
.box
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	background: none;
	box-sizing: border-box;
	box-shadow: 0px 15px 25px rgba(0,0,0,0.8);
	border-radius: 10px;
	height: 460px;
}
.box h2
{
	margin: 0 0 30px;
	padding: 0;
	color: #B430D5;
	font-family: 'Barlow Semi Condensed', sans-serif; 
	font-size: 30px;
}

.box .inputbox
{
	position: relative;
}
.box .inputbox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	font-family: courier;
	color: #fff;
	border:1px solid #fff;
	outline: none;
	margin-bottom: 30px;
	background:transparent;
}
.box .inputbox label
{

	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 18px;
	font-family: 'Barlow Semi Condensed', sans-serif; 
	color: #fff;
	pointer-events: none;
	transition: 0.5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{

	top:-35px;
	left: 0;
	color: #B430D5;
	font-size: 14px;
}
.box input[type="submit"]
{
	background:transparent;
	border:none;
	outline: none;
	color: #fff;
	background:#B430D5;
	padding: 5px 15px;
	border-radius: 10px;
	width: 120px;
	font-size: 18px;
	font-family: 'Barlow Semi Condensed', sans-serif; 
	cursor: pointer;
	position:absolute;
	right: 45px;

}
.box input[type="submit"]:hover
{
	color: #B430D5;
	background:#fff;
}


#word
{
	color: white;
	font-family:'Barlow Semi Condensed', sans-serif; 
	font-size: 18px; 
}